<header>
  <h1>Contact Manager - Vanilla</h1>
</header>
<!-- Name and Surname -->
<div class="form-container" id="add">
  <form id="contact-form">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" id="firstName" name="firstName" placeholder="John" autocomplete="given-name" required />
      <label for="lastName">Last Name</label>
      <input type="text" id="lastName" name="lastName" placeholder="Doe" autocomplete="family-name" required />
    </div>
    <!-- Email -->
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="john@example.com" autocomplete="email" required />
    </div>
    <!-- Gender -->
    <fieldset>
        <legend>Gender</legend>
      <div class="radio-group">
        <label><input type="radio" name="gender" value="male" required /> Male</label>
        <label><input type="radio" name="gender" value="female" /> Female</label>
        <label><input type="radio" name="gender" value="other" /> Other / Undisclosed</label>
      </div>
    </fieldset>

    <!-- Phone -->
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="tel" id="phone" name="phone" placeholder="+420 123 456 789" autocomplete="tel" inputmode="tel"
        pattern="^\+?[\d\s-]{9,16}$" required />
    </div>
    <!-- Note -->
    <div class="form-group">
      <label for="note">Note</label>
      <textarea id="note" name="note" placeholder="any additional detail (optional)"></textarea>
    </div>

    <!-- - Adresa: Město (city), Ulice (street), Číslo popisné (houseNumber), PSČ (zipCode) -->
    
<fieldset>
  <legend>Address</legend>
  <div class="form-group">
    <label for="city">City</label>
    <input
      type="text"
      id="city"
      name="city"
      autocomplete="address-level2"
      required
    />

    <label for="street">Street</label>
    <input
      type="text"
      id="street"
      name="street"
      autocomplete="street-address"
      required
    />

    <label for="houseNumber">House number</label>
    <input
      type="text"
      id="houseNumber"
      name="houseNumber"
      inputmode="text"
      required
    />

    <!-- check czech ZIP format at current implementation -->
    <label for="zipCode">ZIP Code</label>
    <input
      type="text"
      id="zipCode"
      name="zipCode"
      inputmode="numeric"
      autocomplete="postal-code"
      pattern="\d{3}\s?\d{2}"
      placeholder="123 45"
      title="Enter ZIP as 12345 or 123 45"
      required
    />
  </div>
</fieldset>

    
    <!-- - Datum narození (birthDate) - formátované pole -->
    <div class="form-group">
      <label for="birthDate">Date of Birth</label>
      <input type="date" id="birthDate" name="birthDate" required />
    </div>
</div>

<button type="submit">Add Contact</button>
</form>
</div>

<div class="list-view">
  
</div>