.field-group {
    flex-grow: 1;
    max-width: calc(50% - 12px);

    .text-field {
        width: 100%;
    }

    &.grow {
        flex-basis: 100%;
    }

    &.radio-group {
        input {
            margin-inline: 6px;
            vertical-align: middle;
        }
    }

    &:not(.radio-group) label {
        display: block;
    }
}

@media (max-width: 768px) {
    .field-group {
        max-width: unset;
        min-width: 250px;
    }
}

.error-message {
    font-size: 14px;
    color: rgb(169, 19, 19);
}
