.contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.contact {
    flex-grow: 1;
    padding: 8px 12px;
    background-color: #eee;
    border-radius: 6px;
    transition: background-color 200ms ease;
    cursor: pointer;
    margin-bottom: 6px;
    border: 1px solid #aaa;

    &:hover {
        background-color: #ddd;
    }
}
